body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
button {
  border-radius: 6px;
  border-style: solid;
  background-color: #3882f6;
  color: white;
  padding: 4px 24px;
  font-weight: bold;
}
/* Header specific things */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  
}
.logo {
  width: 500px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}
.header-links {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 150px;
}
li {
  list-style-type: none;
  margin: 10px;
}

/* Title specific things */
.title {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 80px;
}
.title-text {
  width: 400px;
}
.bold {
  font-size: 48px;
  font-weight: 900;
}
.subtitle {
  font-size: 18px;
  color: #e5e7eb;
}
.title-button {
  border-color: #3882f6;
}
.title-image {
  width: 400px;
  height: 200px;
  background-color: rgb(123, 123, 128);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Information specific things */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-container {
  display: flex;
}
.card {
  border: 3px solid blue;
  /* Placeholder size values */
  height: 200px;
  width: 200px;
}
/* Quote specific things */
.quote {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote-body {
  display: flex;
}
.quote-text {
  justify-self: flex-start;
  align-self: flex-start;
}
.quote-name {
  justify-self: flex-end;
  align-self: flex-end;
}
/* Ad specific things */
.ad {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ad-body {
  display: flex;
  align-items: center;
}
/* Footer specific things */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}