body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
button {
  border-radius: 6px;
  border-style: solid;
  background-color: #3882f6;
  color: white;
  padding: 4px 24px;
  font-weight: bold;
}
/* Header specific things */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937;
  color: white;
  
}
.logo {
  width: 500px;
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
}
.header-links {
  display: flex;
  font-size: 18px;
  color: #e5e7eb;
  padding-right: 150px;
}
li {
  list-style-type: none;
  margin: 10px;
}

/* Title specific things */
.title {
  display: flex;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 80px;
}
.title-text {
  width: 400px;
}
.bold {
  font-size: 48px;
  font-weight: 900;
}
.subtitle {
  font-size: 18px;
  color: #e5e7eb;
  margin: 10px 0;
}
.title-button {
  border-color: #3882f6;
}
.title-image {
  width: 400px;
  height: 200px;
  background-color: rgb(123, 123, 128);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Information specific things */
.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 76px;
}
.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  margin: 40px;
}
.card-container {
  display: flex;
  gap: 44px;
}
.card-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  border: 4px solid #3882f6;
  border-radius: 10%;
  height: 126px;
  width: 126px;
}
.card-subtext {
  width: 126px;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  color:rgb(81, 81, 83);
}
/* Quote specific things */
.quote {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 80px;
}
.quote-body {
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 200px;
}
.quote-text {
  justify-self: flex-start;
  align-self: flex-start;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  font-family: 'light italic';
}
.quote-name {
  justify-self: flex-end;
  align-self: flex-end;
  font-weight: 700;
  font-size: 18px;
}
/* Ad specific things */
.ad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
}
.poof {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3882f6;
  border-radius: 8px;
  width: 850px;
  color: white;
  gap: 100px;
  padding: 40px;
}
.bweh {
  font-weight: bold;
  font-size: 18px;
}
.bloop {
  border-color: white;
  border-width: 2px;
}
/* Footer specific things */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  color: white;
  padding: 40px;
}